In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('sdg_index.csv',index_col="year")

In [5]:
df.head()

,country_code,country,sdg_index_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,goal_7_score,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
year,,,,,,,,,,,,,,,,,,,,
2000,AFG,Afghanistan,36.0,28.8,27.3,19.2,1.6,20.8,32.4,21.0,38.5,5.2,0.0,25.8,94.7,99.4,0.0,51.9,39.2,34.2
2001,AFG,Afghanistan,36.3,28.8,30.6,19.4,1.6,20.8,32.4,22.3,38.5,5.2,0.0,25.8,94.5,99.4,0.0,51.9,39.2,34.2
2002,AFG,Afghanistan,36.3,28.8,30.7,19.7,1.6,20.8,32.7,21.5,38.4,5.2,0.0,26.1,94.1,99.4,0.0,51.8,39.2,34.2
2003,AFG,Afghanistan,36.7,28.8,32.5,19.9,1.6,20.8,33.0,24.5,38.4,5.2,0.0,26.5,94.4,99.4,0.0,51.8,39.2,34.2
2004,AFG,Afghanistan,37.1,28.8,32.1,21.1,1.6,20.8,33.3,28.0,38.5,5.2,0.0,26.8,94.8,99.4,0.0,51.8,39.2,34.2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4140 entries, 2000 to 2022
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_code     4140 non-null   object
 1   country          4140 non-null   object
 2   sdg_index_score  4140 non-null   float64
 3   goal_1_score     4140 non-null   float64
 4   goal_2_score     4140 non-null   float64
 5   goal_3_score     4140 non-null   float64
 6   goal_4_score     4140 non-null   float64
 7   goal_5_score     4140 non-null   float64
 8   goal_6_score     4140 non-null   float64
 9   goal_7_score     4140 non-null   float64
 10  goal_8_score     4140 non-null   float64
 11  goal_9_score     4140 non-null   float64
 12  goal_10_score    4140 non-null   float64
 13  goal_11_score    4140 non-null   float64
 14  goal_12_score    4140 non-null   float64
 15  goal_13_score    4140 non-null   float64
 16  goal_14_score    4140 non-null   float64
 17  goal_15_score    4140 non-null   float64
 18  goal_16_score    4140 non-null   float64
 19  goal_17_score    4140 non-null   float64
dtypes: float64(18), object(2)
memory usage: 679.2+ KB

**Generating descriptive statistics of a DataFrame:
df.describe() provides a summary of the central tendency, dispersion, and shape of the distribution of a dataset.
The statistics include:**

Count: Number of non-null values.
Mean: Mean (average) value.
std: Standard deviation, which measures the amount of variation or dispersion of a set of values.
min: Minimum value.
25%: First quartile (25th percentile).
50%: Median (50th percentile).
75%: Third quartile (75th percentile).
max: Maximum value.

In [7]:
df.describe()

,sdg_index_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,goal_7_score,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
count,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000
mean,63.685435,64.815628,57.735531,64.045652,71.990048,55.803309,63.963188,57.340966,69.839493,37.114444,52.369662,69.931739,79.680338,81.925870,48.565097,64.662802,62.194903,55.538720
std,10.776469,36.098836,11.121524,22.354993,26.561757,17.281101,15.362064,21.490869,10.004358,25.883834,31.254386,18.171193,16.732118,21.346259,28.007749,13.408318,14.568598,13.017388
min,36.000000,0.000000,7.700000,5.900000,0.000000,3.500000,11.300000,0.100000,38.400000,0.000000,0.000000,13.800000,32.900000,0.000000,0.000000,26.000000,27.900000,15.100000
25%,55.075000,31.500000,52.400000,44.800000,57.375000,43.200000,52.300000,41.300000,64.100000,15.700000,23.900000,55.600000,69.400000,72.800000,42.200000,55.100000,51.600000,46.000000
50%,65.100000,81.000000,58.900000,70.200000,80.600000,57.500000,64.400000,64.450000,70.000000,29.700000,53.850000,75.000000,84.800000,90.900000,59.000000,64.400000,61.000000,54.900000
75%,72.000000,98.600000,65.300000,81.300000,94.400000,68.700000,74.300000,72.000000,76.400000,52.700000,79.925000,84.600000,94.100000,97.200000,67.200000,73.900000,73.500000,64.900000
max,86.800000,100.000000,83.400000,97.300000,100.000000,94.000000,95.100000,99.600000,93.600000,99.200000,100.000000,99.900000,99.000000,99.900000,91.200000,97.900000,96.000000,100.000000

In [21]:
import pandas as pd

# Increase the maximum number of rows displayed
pd.set_option('display.max_rows', None)

# Group the data by the 'country' column
grouped_data = df.groupby('country')

# Calculate the mean and standard deviation of 'goal_1_score' **(No Poverty)** for each country
summary_stats = grouped_data['goal_1_score'].agg(['mean', 'std'])

# Display the formatted summary statistics for each country
print(formatted_summary)

                                   mean    std
country
Afghanistan                      28.052  3.990
Albania                          96.530  1.390
Algeria                          96.283  0.923
Angola                           49.283  8.803
Argentina                        96.652  0.521
Armenia                          90.487  2.186
Australia                        99.578  0.162
Austria                          99.565  0.156
Azerbaijan                      100.000  0.000
Bahamas, The                      0.000  0.000
Bahrain                           0.000  0.000
Bangladesh                       58.426  7.959
Barbados                          0.000  0.000
Belarus                          98.730  0.248
Belgium                          99.152  0.263
Belize                           59.291  1.955
Benin                            27.865 12.413
Bhutan                           85.291  7.187
Bolivia                          83.243  4.749
Bosnia and Herzegovina           99.652  0.104
Botswana                         57.891  3.024
Brazil                           85.126  3.605
Brunei Darussalam                 0.000  0.000
Bulgaria                        100.000  0.000
Burkina Faso                     22.139  3.293
Burundi                           0.000  0.000
Cabo Verde                       75.365  5.170
Cambodia                          0.000  0.000
Cameroon                         41.126  4.706
Canada                           99.517  0.072
Central African Republic          3.843  2.251
Chad                             25.443  1.819
Chile                            96.583  2.521
China                            76.009 15.951
Colombia                         77.370  4.387
Comoros                          45.417  3.573
Congo, Dem. Rep.                  2.139  2.719
Congo, Rep.                      25.913  1.747
Costa Rica                       94.239  0.647
Cote d'Ivoire                    42.661 16.075
Croatia                         100.000  0.000
Cuba                              0.000  0.000
Cyprus                           99.957  0.051
Czechia                          99.613  0.163
Denmark                          99.222  0.131
Djibouti                         45.952  9.055
Dominican Republic               88.057  4.777
East and South Asia              68.791 12.981
Eastern Europe and Central Asia  83.243  1.432
Ecuador                          84.287  2.851
Egypt, Arab Rep.                 86.865  2.479
El Salvador                      84.530  5.486
Estonia                         100.000  0.000
Eswatini                         27.374  4.797
Ethiopia                         27.213  8.273
Fiji                             92.048  2.433
Finland                          99.513  0.034
France                           99.687  0.317
Gabon                            87.722  1.745
Gambia, The                      39.639 10.464
Georgia                          73.209  8.277
Germany                          99.735  0.185
Ghana                            47.935  4.699
Greece                           98.900  0.403
Guatemala                        70.148  2.790
Guinea                           36.474 12.386
Guyana                           80.148  6.245
Haiti                            40.561  3.428
High-income Countries            98.996  0.047
Honduras                         62.565  3.148
Hungary                          98.600  0.145
Iceland                          99.748  0.073
India                            59.783 15.003
Indonesia                        67.217  9.866
Iran, Islamic Rep.               94.557  0.868
Iraq                              0.000  0.000
Ireland                          99.709  0.144
Israel                           98.061  0.353
Italy                            97.722  0.364
Jamaica                          90.835  0.861
Japan                            99.509  0.198
Jordan                           98.635  0.049
Kazakhstan                       97.913  0.610
Kenya                            40.109  4.253
Korea, Rep.                      99.139  0.271
Kuwait                            0.000  0.000
Kyrgyz Republic                  84.670  4.004
Lao PDR                          51.965  8.499
Latin America and the Caribbean  82.152  1.529
Latvia                          100.000  0.000
Lebanon                          99.083  0.159
Lesotho                          27.409  4.994
Liberia                          25.348  3.194
Lithuania                       100.000  0.000
Low-income Countries             17.596  1.726
Lower & Lower-middle Income      51.765  7.786
Lower-middle-income Countries    61.317  9.378
Luxembourg                       99.952  0.104
Madagascar                        3.504  0.280
Malawi                            1.783  0.724
Malaysia                         97.470  1.184
Maldives                         93.309  5.634
Mali                             32.135  6.634
Malta                            99.870  0.056
Mauritania                       68.348  4.681
Mauritius                        97.396  0.325
Mexico                           85.674  1.070
Middle East and North Africa     86.535  2.696
Moldova                          96.630  1.767
Mongolia                         91.022  3.472
Montenegro                       98.600  0.420
Morocco                          86.057  5.338
Mozambique                        0.861  1.047
Myanmar                          47.200 16.980
Namibia                          48.357 11.227
Nepal                            68.452  5.007
Netherlands                      99.396  0.122
New Zealand                       0.000  0.000
Nicaragua                        64.926  3.572
Niger                             6.604  3.438
Nigeria                          41.352  3.205
North Macedonia                  93.926  0.997
Norway                           99.261  0.127
OECD members                     96.952  0.243
Oceania                          30.983  3.627
Oman                              0.000  0.000
Pakistan                         69.196  4.954
Panama                           90.591  2.491
Papua New Guinea                 26.643  2.832
Paraguay                         86.296  5.829
Peru                             79.600  4.011
Philippines                      69.378  5.690
Poland                           98.717  0.153
Portugal                         99.874  0.184
Qatar                             0.000  0.000
Romania                          96.883  0.863
Russian Federation               98.617  0.130
Rwanda                           15.878  3.904
Sao Tome and Principe            38.487  5.808
Saudi Arabia                    100.000  0.000
Senegal                          38.657 14.422
Serbia                          100.000  0.000
Sierra Leone                     25.787 11.208
Singapore                         0.000  0.000
Slovak Republic                  99.013  0.076
Slovenia                         99.300  0.052
Small Island Developing States   57.857  2.916
Somalia                          11.465  0.365
South Africa                     53.370  1.815
South Sudan                      14.857 10.816
Spain                            98.843  0.193
Sri Lanka                        85.448  2.659
Sub-Saharan Africa               24.317  1.685
Sudan                            42.517  7.078
Suriname                          0.000  0.000
Sweden                           98.687  0.129
Switzerland                      99.465  0.083
Syrian Arab Republic              0.000  0.000
Tajikistan                       57.452 12.325
Tanzania                         22.474  1.607
Thailand                         97.013  1.239
Togo                             19.135  6.051
Trinidad and Tobago              98.326  0.129
Tunisia                          95.261  2.169
Turkmenistan                     98.878  0.085
Türkiye                          96.443  1.021
Uganda                           22.857  1.433
Ukraine                           0.000  0.000
United Arab Emirates             99.539  0.084
United Kingdom                   99.609  0.394
United States                    98.635  0.111
Upper-middle-income Countries    80.787  9.568
Uruguay                          97.630  0.656
Uzbekistan                       30.983 17.154
Venezuela, RB                    65.761 22.761
Vietnam                          87.430  5.978
World                            69.513  6.492
Yemen, Rep.                      30.622 15.403
Zambia                            8.313  1.712
Zimbabwe                         29.770  4.921